.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h2 Thursday, October 29th

  div(style='margin-top: 5%')
    h1 Kyle Simpson (Author of "You Don't Know JS" Books and HTML5 Cookbook)
    h1 Florida Elago

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.

  div(style='margin-top: 5%')
    h3 Last JS.LA of 2015!
