.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h1 Thursday, April 28th

  div(style='margin-top: 5%')
    h1 Seth Law & Secure Coding
    h1 Mims H. Wright & The Sad, Strange Tale

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.

