.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h2 Thursday, April 30th

  div(style='margin-top: 5%')
    h1 npm's Benjamin Coe
    h1 Paul Frazee on the End of the Web Host
    h3 ...and More!

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.
