.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h1 Thursday, May 26th

  div(style='margin-top: 5%')
    h1 Sam L'ecuyer & Code Without Keywords
    h1 Mystery Speaker

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.

