.drinks

  .heading
    h1 Next JS.LA

  .info(style='margin-top:5%')
    h3 Thursday, February 26th

  .info(style='margin-top:5%')
    h3 PhantomJS and more!

  //- .info(style='margin-top:5%')
  //-   h2
  //-     | Talks by project lead <span>TJ Fontaine</span>, <span>Mike Matuzak</span>, 
  //-     | <span>Oren Golan</span> and more!

  .info(style='margin-top:5%')
    h3 Follow <span>@JSdotLA</span> and join the mailing list at <span>JS.LA</span> for updates and RSVP info.
