.next

  div
    h1(style='font-size: 400%') Next js.la

    h1 Thursday, February 23rd at GoGuardian

  div(style='margin-top: 5%')
    h2 Tickets will go fast.
    h2 Be sure to join the mailing list at <span class='highlight'>http://js.la</span> to be notified as soon as tickets are available.
