.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h2 Thursday, January 28th 2016

  div(style='margin-top: 5%')
    h1 See you next year!

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.

