.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h2 Thursday, February 25th 2016

  div(style='margin-top: 5%')
    h1 Justin Meyer & DoneJS
    h1 Andrew Hao & Building Smartwatch Apps

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.

