.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h1 Thursday, June 30th

  div(style='margin-top: 5%')
    h1 Albert Wong on Building a Developer Experience on Kubernetes and Docker
    h1 Sara Raasch on Testing JavaScript Like a Pro

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.

