.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h1 Thursday, October 27th at MakerSquare

  div(style='margin-top: 5%')
    h1 Chris Lea
    h3 and
    h1 Wren Reynolds

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.
