.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h1 Thursday, August 25th

  div(style='margin-top: 5%')
    h1 Zeno Rocha on Web APIs You Didn't Know Existed
    h3 and
    h1 Aman Tsegai on Data Visualization with D3.js

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.
