.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h2 Thursday, September 24th

  div(style='margin-top: 5%')
    h1 Brock Whitten (Co-creator of Cordova/PhoneGap, Harp, and Surge)
    h1 Generative Art & Music with Patrick Gunderson

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.

  div(style='margin-top: 5%')
    h3 PROTIP: JS.LA is the last Thursday of every month!
