.next

  div
    h1(style='font-size: 400%') Next js.la is in 2017!

    h1 Thursday, January 26th at Headspace

  div(style='margin-top: 5%')
    h1 Marpi - new.marpi.pl
    h3 and
    h1 Alex Muramoto - Ionic

  div(style='margin-top: 5%')
    h2 Tickets will go fast.
    h2 Be sure to follow join the mailing list at <span class='highlight'>http://js.la</span> to be notified as soon as tickets are available.
