.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h2 Thursday, May 28th

  div(style='margin-top: 5%')
    h1 Internet of Things!
    h1 Hardware Hacking with JavaScript!

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.
