.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h1 Thursday, March 31st

  div(style='margin-top: 5%')
    h1 Benjamin Coe (npm) & InnerSource
    h1 Brian Satorius & GPS-Based Music Parties

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.

