.next

  div
    h1(style='font-size: 400%') Next js.la

    h1 Thursday, February 23rd at GoGuardian

  div(style='margin-top: 5%')
    h2 Tickets will go fast.
    h2 Join the mailing list to be notified as soon as tickets are available:
    h2 <span class='highlight'>js.la/subscribe</span>
