.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h2 Thursday, June 25th

  div(style='margin-top: 5%')
    h1 Scalable and Maintainable React
    h1 How to Open Source Like a Boss

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.
