.next

  div
    h1(style='font-size: 400%') Next JS.LA

    h2 Thursday, March 26th

  div(style='margin-top: 5%')
    h1 UX For Developers
    h1 Serverless Video Chat and Data Transfer
    h3 ...and More!

  div(style='margin-top: 5%')
    h2 Follow <span class='highlight'>@JSdotLA</span> and join the mailing list at <span class='highlight'>JS.LA</span> for updates and RSVP info.
