.speaker

  h1 How launching Icecomm on HN created
  h1 the most curious chat roulette ever
  h1 (and how you can too)

  h2 Will Sentance & Tony Rizko

  img(src="/img/speakers/sentance-rizko.png")

