.drinks

  h3 Lovefield: a powerful Javascript SQL-like database query engine for the web

  .map
    img.frame(src="/img/speakers/demetrios.png")

  .venue
    h1
      | Demetrios Papadopoulos

    //- h1.highlight @lukekarrys
