.drinks

  h3 How to effortlessly integrate Three.js into your projects

  .map
    img.frame(src="/img/speakers/jasonfarrell.jpg")

  .venue
    h1
      | Jason Farrell

    h1.highlight @jasonfarrell
